@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 75%;
}

.container {
  max-width: 124rem;
  margin: 0 auto;
}

.page-padding {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@layer utilities {
  .logo {
    filter: invert(100%) sepia(0%) saturate(7482%) hue-rotate(257deg)
      brightness(101%) contrast(103%);
    width: 75px;
    height: 75px;
  }
  .color-logo {
    filter: invert(80%) sepia(18%) saturate(7146%) hue-rotate(353deg)
      brightness(103%) contrast(108%);
  }
}

.invert-logo {
  filter: invert(80%) sepia(18%) saturate(7146%) hue-rotate(353deg)
    brightness(103%) contrast(108%);
  width: 75px;
  height: 75px;
}

.hero-section {
  background-image: url('https://res.cloudinary.com/dxzi6ahcb/image/upload/f_auto,q_auto/v1693887116/hero_yb1rhb.webp');
  width: 100%;
  height: 110vh;
  object-fit: fill;
  background-size: cover;
  background-position: center center;
}

.classes-section {
  background-image: url('./images/dot-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: fill;
}

.page-gray-bg {
  background-image: url('https://res.cloudinary.com/dxzi6ahcb/image/upload/f_auto,q_auto/v1693887076/gray-bg_vieu34.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.about-section {
  background-image: url('https://res.cloudinary.com/dxzi6ahcb/image/upload/f_auto,q_auto/v1693887076/gray-bg_vieu34.webp');
  background-position: center -100px;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.call-to-action {
  background-image: url('https://res.cloudinary.com/dxzi6ahcb/image/upload/f_auto,q_auto/v1693887139/black-belt_kuj0t2.webp');
  width: 100%;
  height: 21rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cta-section {
  background-image: url('https://res.cloudinary.com/dxzi6ahcb/image/upload/f_auto,q_auto/v1693887137/training_trhnjv.webp');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-background {
  background-color: #ffb703;
}

.title {
  background-image: url('./images/title-bg.svg');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* classes grid */
.item-0,
.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
  filter: grayscale(100%);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  box-shadow: inset 2px 2px 8px 160px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.item-0:hover,
.item-1:hover,
.item-2:hover,
.item-3:hover,
.item-4:hover,
.item-5:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
  box-shadow: inset 2px 2px 8px 160px rgba(0, 0, 0, 0);
}

.item-0-div {
  height: 30rem;
  width: 100%;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
  overflow: hidden;
}

.item-1-div {
  height: 30rem;
  width: 100%;
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 4;
  overflow: hidden;
}

.item-2-div {
  height: 30rem;
  width: 100%;
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 2;
  grid-column-end: 5;
  overflow: hidden;
}

.item-3-div {
  height: 30rem;
  width: 100%;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  overflow: hidden;
}

.item-4-div {
  height: 30rem;
  width: 100%;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  overflow: hidden;
}

.item-5-div {
  height: 30rem;
  width: 100%;
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 5;
  overflow: hidden;
}

/* gallery grid */
.gallery-grid {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  gap: 6px;
  height: 100%;
}

#item-0 {
  height: 41rem;
  width: 100%;
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 3;

  background-image: url('https://res.cloudinary.com/dxzi6ahcb/image/upload/f_auto,q_auto/v1693887154/img6_cwzaja.webp');
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

#item-1 {
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 2;

  background-image: url('https://res.cloudinary.com/dxzi6ahcb/image/upload/f_auto,q_auto/v1693887148/img3_avoksl.webp');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#item-2 {
  background-color: #bc775e;
  grid-row-start: 3;
  grid-column-start: 2;

  grid-row-end: 4;
  grid-column-end: 3;

  background-image: url('https://res.cloudinary.com/dxzi6ahcb/image/upload/f_auto,q_auto/v1693887150/img4_asw5kl.webp');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#item-3 {
  grid-row-start: 2;
  grid-column-start: 4;

  grid-row-end: 4;
  grid-column-end: 6;

  background-image: url('https://res.cloudinary.com/dxzi6ahcb/image/upload/f_auto,q_auto/v1693887144/img1_qpp2oj.webp');
  object-fit: cover;
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
}

#item-4 {
  grid-row-start: 1;
  grid-column-start: 4;

  grid-row-end: 2;
  grid-column-end: 6;

  background-image: url('https://res.cloudinary.com/dxzi6ahcb/image/upload/f_auto,q_auto/v1693887152/img5_m8nnf9.webp');
  object-fit: cover;
  background-size: cover;
  background-position: 0 -30px;
  background-repeat: no-repeat;
}

#item-5 {
  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 4;
  grid-column-end: 4;

  background-image: url('https://res.cloudinary.com/dxzi6ahcb/image/upload/f_auto,q_auto/v1693887146/img2_uvu1f7.webp');
  background-size: cover;
  background-position: -115px 0;

  background-repeat: no-repeat;
  align-self: stretch;
}

.pages-banner {
  background-image: url('https://res.cloudinary.com/dxzi6ahcb/image/upload/f_auto,q_auto/v1693887078/pages-banner_c6fag2.webp');
  object-fit: cover;
  background-size: cover;
  filter: grayscale(1);
  background-position: center -250px;
  background-repeat: no-repeat;
  width: 100%;
  height: 45vh;
}

@media (max-width: 1200px) {
  .pages-banner {
    background-position: center;
  }
}

/* nav */
@media (max-width: 1280px) {
  .nav-list {
    display: none;
  }

  .fa-bars {
    display: flex;
  }
}
