@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
body {
  /* background-color: black; */
  /* background: #ebf0fa; */
  /* @apply text-gray-500 m-8; */
  background-color: #ffb703;
}

.container {
  max-width: 124rem;
  margin: 0 auto;
}

.page-padding {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.hero-section {
  background-image: url('./components/hero/hero.jpeg');
  width: 100%;
  height: 110vh;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
}

.call-to-action {
  background-image: url('./components/call-to-action/black-belt.jpeg');
  width: 100%;
  height: 18rem;
  background-position: center -177px;
  background-size: cover;
  background-repeat: no-repeat;
}

.cta-section {
  background-image: url('./components/personal-training/training.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* classes grid */

.item-0-div {
  height: 30rem;
  width: 100%;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
  overflow: hidden;
}

.item-1-div {
  height: 30rem;
  width: 100%;
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 4;
  overflow: hidden;
}

.item-2-div {
  height: 30rem;
  width: 100%;
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 2;
  grid-column-end: 5;
  overflow: hidden;
}

.item-3-div {
  height: 30rem;
  width: 100%;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  overflow: hidden;
}

.item-4-div {
  height: 30rem;
  width: 100%;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  overflow: hidden;
}

.item-5-div {
  height: 30rem;
  width: 100%;
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 5;
  overflow: hidden;
}

.item-0 {
  content: url('./components/classes/bjj.jpg');
  width: 100%;
  height: 100%;
}

.item-1 {
  content: url('./components/classes/mma.jpg');
  width: 100%;
  height: 100%;
}

.item-2 {
  content: url('./components/classes/boxing.jpg');
  width: 100%;
  height: 100%;
}

.item-3 {
  content: url('./components/classes/no-gi.jpg');
  width: 100%;
  height: 100%;
}

.item-4 {
  content: url('./components/classes/kb.jpg');
  width: 100%;
  height: 100%;
}

.item-5 {
  /* background-image: url('./components/classes/strength.jpg'); */
  content: url('./components/classes/strength.jpg');
  width: 100%;
  height: 100%;
}

/* gallery grid */
.gallery-grid {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  gap: 6px;
  height: 100%;
}

#item-0 {
  height: 41rem;
  width: 100%;
  background-color: #de89dd;
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 3;

  background-image: url('./components/gallery/img6.jpg');
  object-fit: cover;
  background-size: cover;
  /* background-position: 0 510px; */
  background-repeat: no-repeat;
}

#item-1 {
  background-color: #f7d9ab;
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 2;

  background-image: url('./components/gallery/img3.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: 0px 0;
  background-repeat: no-repeat;
}

#item-2 {
  background-color: #bc775e;
  grid-row-start: 3;
  grid-column-start: 2;

  grid-row-end: 4;
  grid-column-end: 3;

  background-image: url('./components/gallery/img4.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#item-3 {
  background-color: #a89ce7;
  grid-row-start: 2;
  grid-column-start: 4;

  grid-row-end: 4;
  grid-column-end: 6;

  background-image: url('./components/gallery/img1.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
}

#item-4 {
  background-color: #dc9f7c;
  grid-row-start: 1;
  grid-column-start: 4;

  grid-row-end: 2;
  grid-column-end: 6;

  background-image: url('./components/gallery/img5.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: 0 -45px;
  background-repeat: no-repeat;
}

#item-5 {
  background-color: #dc9f7c;
  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 4;
  grid-column-end: 4;

  background-image: url('./components/gallery/img2.jpg');
  /* height: 100%; */
  background-size: cover;
  background-position: -145px 0;
  background-repeat: no-repeat;
  align-self: stretch;
}
